{% extends "layout.html" %}

{% block body %}

<!-- Page content -->
<div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h3 class="fw-bolder mb-1">{{article.title}}</h3>
                            <p class = "lead">
                            by
                            {{article.author}}
                            </p>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{article.created_date}}</div>
                            <!-- Post categories-->
                        </header>
                        <!-- Preview image figure-->
                        {% if article.article_image %}
                        <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..." />
                        {% endif %}
                        
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">
                                {{article.content|safe}}
                            </p>
                        </section>
                    </article>
                </div>
                </div>
            </div>
            <hr>

            <h4>Yorumlar</h4>
            <hr>
            {% if comments %}
            {% for comment in comments %}
            <div class="d-flex">
                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                <div class="ms-3">
                    <div class="fw-bold">{{comment.comment_author}}</div>
                    {{comment.comment_date}}
                    <br>
                    {{comment.comment_content}}
                </div>
            </div>
            <hr>
            {% endfor %}

            {% else %}
            <div class = "alert alert-danger">
             Bu makaleye herhangi bir yorum bırakılmamış, ilk yorum yapan siz olun!
            </div>
            {% endif %}

<div class="container">
    <div class="card my-4">
        <h5 class="card-header">Yorum Ekle</h5>

        <div class="card-body">
            <form method="post" action="{% url 'article:comment' article.id %}">
                {% csrf_token %}

                <div class="form-group">
                    <label>İsim</label>
                    <input
                        type="text"
                        name="comment_author"
                        class="form-control"
                        placeholder="İsminizi giriniz"
                        required
                    >
                </div>

                <div class="form-group mt-2">
                    <label>Yorum</label>
                    <textarea
                        name="comment_content"
                        class="form-control"
                        rows="3"
                        placeholder="Yorumunuzu yazınız"
                        required
                    ></textarea>
                </div>

                <button type="submit" class="btn btn-danger mt-3">
                    Gönder
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock body %}